body {
    background: #91c7e0;
}
.wp-block {
    max-width: 800px;
}
.wp-block[data-align=full] {
    max-width: none;
}
.wp-block[data-align=wide] {
    max-width: 1000px;
}

.has-red-to-blue-gradient-background {
    background: linear-gradient(135deg,#e4064d 0%,#2c59ee 100%);
}

.has-green-to-yellow-gradient-background {
    background: linear-gradient(135deg,#3ce406 0%,#d6e029 100%);
}

.has-strong-magenta-background-color {
	background-color: #A156B4;
}

.has-strong-magenta-color {
	color: #A156B4;
}

.has-very-light-gray-background-color {
	background-color: #EEE;
}

.has-very-light-gray-color {
	color: #EEE;
}

.has-small-font-size {
	font-size: 12px;
}

.has-regular-font-size {
	font-size: 16px;
}

.has-large-font-size {
	font-size: 36px !important;
}